.form__group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.form__group label,
label.form__group {
	font-size: 0.75rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.01338rem;
	@apply text-secondaryBlack;
}
.form__group input[type="email"],
.form__group input[type="text"],
.form__group input[type="password"],
.form__group input[type="tel"],
textarea {
	border-radius: 0.5rem;
	border: 1px solid #cfcfcf;
	padding: 1.2rem 1.5rem;
	outline: 0;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.01563rem;
	@apply caret-primaryOrange bg-secondaryWhite text-secondaryBlack;
}
.form__group input[type="email"]::placeholder,
.form__group input[type="text"]::placeholder,
.form__group input[type="password"]::placeholder,
textarea::placeholder {
	opacity: 0.5;
}
.form__group input[type="email"]:focus,
.form__group input[type="text"]:focus,
.form__group input[type="password"]:focus,
.form__group input[type="email"]:target,
.form__group input[type="text"]:target,
.form__group input[type="password"]:target,
.form__group input[type="email"]:active,
.form__group input[type="text"]:active,
.form__group input[type="password"]:active,
textarea:active {
	border-radius: 0.5rem;
	border: 1px solid transparent;
	@apply border-primaryOrange bg-secondaryWhite;
}

.form__group.radio__btn {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	border-radius: 0.5rem;
	border: 1px solid #cfcfcf;
	padding: 1.2rem;
	width: 100%;
	cursor: pointer;
	@apply bg-secondaryWhite;
}

.form__group.radio__btn:hover,
.form__group.radio__btn:active,
.form__group.radio__btn:focus,
.form__group.radio__btn:target {
	border: 1px solid transparent;
	@apply border-primaryOrange;
}
/* Add hover border on radio button container */
.form__group input[type="radio"]:checked {
	@apply accent-primaryOrange;
}

.form__group.has__error input {
	border-radius: 0.5rem;
	border: 2px solid transparent;
	@apply border-primaryError caret-primaryError bg-secondaryWhite;
}
.form__group.has__error > div {
	display: flex;
	justify-content: space-between;
	line-height: normal;
}
.form__group.has__error > div label,
.form__group.has__error > div .error {
	@apply text-primaryError;
}

.form__group.has__error > div .error {
	text-align: right;
	font-size: 0.75rem;
	font-weight: 500;
	letter-spacing: -0.01338rem;
}

.form__group.qty__selector {
	@apply bg-primaryGrey;
}

.form__group.qty__selector button {
	letter-spacing: 0.0625rem;
	opacity: 0.25;
	@apply text-secondaryBlack;
}
.form__group.qty__selector button:hover {
	@apply text-primaryOrange;
	opacity: 1;
}
.form__group.qty__selector input[type="number"] {
	-moz-appearance: textfield;
	max-width: 50px;
	@apply bg-primaryGrey;
	letter-spacing: 0.0625rem;
}
.form__group.qty__selector input[type="number"]::-webkit-inner-spin-button,
.form__group.qty__selector input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.form__group.qty__selector.small {
	padding: 0.5rem;
	height: 2rem;
}
.form__group.qty__selector.small input {
	font-size: 0.8rem;
	max-width: 30px;
}
