h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700 !important;
	text-transform: uppercase;
	@apply text-secondaryBlack;
}
h1,
.heading-1 {
	font-size: 2.25rem;
	line-height: 2.5rem; /* 111.111% */
	letter-spacing: 0.08038rem;
}
h2,
.heading-2 {
	font-size: 1.75rem;
	line-height: normal;
	letter-spacing: 0.0625rem;
}

h3,
.heading-3 {
	font-size: 1.5rem;
	line-height: 1.75rem; /* 116.667% */
	letter-spacing: 0.05356rem;
}
h4,
h5,
h6,
.heading-4,
.heading-5,
.heading-6 {
	line-height: normal;
}
h4,
.heading-4 {
	font-size: 1.75rem;
	letter-spacing: 0.125rem;
}
h5,
.heading-5 {
	font-size: 1.5rem;
	letter-spacing: 0.10713rem;
}
h6,
.heading-6 {
	font-size: 1.125rem;
	letter-spacing: 0.08038rem;
}

button {
	border: 0;
	background-color: transparent;
	padding: 0;
}

input {
	outline: none;
}

picture {
	display: block;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
hr {
	opacity: 1;
	@apply text-secondaryBlack;
}
.container {
	max-width: 1110px !important;
	@apply mx-auto;
}
section,
.hero,
.container.block__padding {
	margin-bottom: 7rem;
}

table {
	overflow-x: scroll;
}
td,
th {
	padding: 16px;
}
th {
	padding-block: 10px;
}
td:not(:nth-child(2)) {
	text-align: center;
}
th,
td {
	border: 1px solid rgba(144, 144, 144, 0.629);
}

details > summary {
	list-style: none;
}
details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
	display: none;
}
summary {
	position: relative;
	display: flex !important;
	justify-content: space-between;
	cursor: pointer;
	margin-bottom: 2rem;
}
summary::after {
	content: "+";
	font-size: 1.4rem;
	font-weight: 500;
	background-color: rgb(12, 12, 12);
	color: white;
	padding: 0 1rem;
	vertical-align: middle;
	height: fit-content;
}
details[open] summary::after {
	content: "-";
	font-size: 1.2rem;
}

.dashboard__products > div {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.most__loved__product > .container {
	padding: 0;
}

@media (min-width: 1024px) {
	summary {
		margin-bottom: 0;
	}
	h1,
	.heading-1 {
		font-size: 3.5rem;
		line-height: 3.625rem;
		letter-spacing: 0.125rem;
	}
	h2,
	.heading-2 {
		font-size: 2.5rem;
		line-height: 2.75rem;
		letter-spacing: 0.08931rem;
	}
	h3,
	.heading-3 {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: 0.07144rem;
	}
	section,
	.hero,
	.container.block__padding {
		margin-bottom: 10.5rem;
	}
}
