.overline,
.subtitle {
	@apply text-primaryOrange;
	text-transform: uppercase;
}
.overline {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.625rem;
}
.subtitle {
	font-size: 0.8125rem;
	font-weight: 700;
	line-height: 1.5625rem;
	letter-spacing: 0.05806rem;
}

.btn {
	font-size: 0.8125rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.0625rem;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	@apply text-secondaryWhite;
}
.btn-orange {
	@apply bg-primaryOrange text-secondaryWhite;
}
.btn-orange:hover,
.btn-orange:target,
.btn-orange:active,
.btn-orange:focus {
	@apply bg-secondaryOrange;
}
.btn-white {
	background-color: transparent;
	border: 1px solid transparent;
	@apply text-secondaryWhite bg-secondaryBlack;
}
.btn-white:hover,
.btn-white:target,
.btn-white:active,
.btn-white:focus {
	color: white;
	background-color: black;
}
.btn-black {
	color: white;
	background-color: black;
}
.btn-black:hover,
.btn-black:target,
.btn-black:active,
.btn-black:focus {
	background: #4c4c4c;
}
.btn-transparent,
.link-transparent {
	@apply text-neutral-400;
	display: flex;
	align-items: center;
	gap: 0.8rem;
}

.btn-transparent:hover,
.btn-transparent:target,
.btn-transparent:active,
.btn-transparent:focus {
	@apply text-primaryOrange;
}
.btn-transparent span {
	@apply text-primaryOrange;
	content: url("../../public/assets/shared/desktop/icon-arrow-right.svg");
}

@media (min-width: 768px) {
	.btn {
		padding: 1rem 2rem;
	}
}
